@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Form.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
</head>
<body>
    




<!-- Main content -->
<div class="main-content">
    <!-- Header -->
    <div class="header bg-gradient-primary py-7 py-lg-8 pt-lg-9">
        <div class="container">
            <div class="header-body text-center mb-7">
                <div class="row justify-content-center">
                    <div class="col-xl-5 col-lg-6 col-md-8 px-5">
                        
                        @* <p class="text-lead text-white"> To Sign In </p>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-5">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7">
                <div class="card bg-secondary border-0 mb-0">
                    <div class="card-header bg-transparent pb-5">
                        
                        <div class="card-body px-lg-5 py-lg-5">
                            <div class="text-center text-muted mb-4">                               
                            </div>
                            <input type="text" id="txtName" />
                            <input type="button" id="btnGet" value="Get Current Time" />
                            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
                            <script type="text/javascript">
                                $(function () {
                                    $("#btnGet").click(function () {
                                        $.ajax({
                                            type: "POST",
                                            url: "/Ajax/AjaxMethod",
                                            data: { "name": $("#txtName").val() },
                                            success: function (response) {
                                                alert("Hello: " + response.Name + " .\nCurrent Date and Time: " + response.DateTime);
                                            },
                                            failure: function (response) {
                                                alert(response.responseText);
                                            },
                                            error: function (response) {
                                                alert(response.responseText);
                                            }
                                        });
                                    });
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>