@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Form.cshtml";
  
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>



<!-- Main content -->
<div class="main-content">
    <!-- Header -->
    <div class="header bg-gradient-primary py-7 py-lg-8 pt-lg-9">
        <div class="container">
            <div class="header-body text-center mb-7">
                <div class="row justify-content-center">
                    <div class="col-xl-5 col-lg-6 col-md-8 px-5">
                        <h1 class="text-white"></h1>

                    </div>
                </div>
            </div>
        </div>
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-5">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7">
                <div class="card bg-secondary border-0 mb-0">
                    <div class="card-header bg-transparent pb-5">

                        <div class="card-body px-lg-5 py-lg-5">
                            <div class="text-center text-muted mb-4">
                               
                            </div>
                            <span id="spanMsg"></span>

                            <script>
                                $(document).ready(function () {
                                    const val1 = 5;
                                    const val2 = 2;

                                    $.ajax({
                                        type: "POST",
                                        url: "@Url.Action("Calculator")",
                                        data: { number1: val1, number2: val2 },
                                        dataType: "text",
                                        success: function (msg) {
                                            document.getElementById("spanMsg").textContent = JSON.stringify(msg);
                                        },
                                        error: function (req, status, error) {
                                            document.getElementById("spanMsg").textContent = error;
                                        }
                                    });
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>