@model EntityOrder

<div class="align-items-center">
    <div class="text-center text-success">
        <h5>We have sucessfully received your payment, Thanks you!</h5>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-form-label">
                TransactionId : @Html.DisplayText("TransactionId")
            </div>

        </div>
    </div>
</div>