@{
    ViewData["Title"] = "Home Page";
}



<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>


    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center">
                    <h1 data-aos="fade-up">I am Dhasari Nithin </h1>
                    <h2 data-aos="fade-up" data-aos-delay="400">This web application showcases my technical expertise and coding skills.
                        It demonstrates my ability to design, develop,
                        and implement solutions using modern web technologies. The app highlights my proficiency in
                        front-end and back-end development, offering a seamless user experience while utilizing best practices in coding and design</h2>
                    <div data-aos="fade-up" data-aos-delay="600">
                        <div class="text-center text-lg-start">
                            <a href="#about" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                                <span>Get Started</span>
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                    <img src="~/flex-assets/img/hero-img.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>

    </section><!-- End Hero -->

    <main id="main">
        <!-- ======= About Section ======= -->
        <section id="about" class="about">

            <div class="container" data-aos="fade-up">
                <div class="row gx-0">

                    <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                        <div class="content">
                            <h3>Introduction</h3>
                            <h2>Passionate Full-Stack Web Developer with expertise in ASP.NET Core,
                                MySQL, and front-end technologies. Proven ability to design and deploy dynamic,
                                user-centric web applications, with a strong focus on problem-solving, mobile responsiveness,
                                and delivering high-quality solutions.
                                Eager to contribute skills in a collaborative environment and continue growing in software development </h2>

                            <div class="text-center text-lg-start">
                                <a href="#" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                                    <span>Read More</span>
                                    <i class="bi bi-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
                        <img src="~/flex-assets/img/about.jpg" class="img-fluid" alt="">
                    </div>

                </div>
            </div>

        </section><!-- End About Section -->
        <!-- ======= Values Section ======= -->
        <section id="values" class="values">

            <div class="container" data-aos="fade-up">

                <header class="section-header">

                    <p>My Strengths are</p>
                </header>

                <div class="row">

                    <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
                        <div class="box">
                            <img src="~/flex-assets/img/values-1.png" class="img-fluid" alt="">
                            <h3>Quick Learner</h3>
                            <p>I've learnt coding and completed this website in just three month</p>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
                        <div class="box">
                            <img src="~/flex-assets/img/values-2.png" class="img-fluid" alt="">
                            <h3>Quickly adaptability</h3>
                            <p>Quickly adapt to different situations even I was new to the city but I still managed habituate city enviorment and faced different challenges like financial crisis but completed the website successfully</p>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
                        <div class="box">
                            <img src="~/flex-assets/img/values-3.png" class="img-fluid" alt="">
                            <h3>Positive thinking and Goal oriented</h3>
                            <p>I set deadlines for each topic and finished the website timely </p>
                        </div>
                    </div>

                </div>

            </div>


        </section><!-- End Counts Section -->
        <!-- ======= Features Section ======= -->
        <section id="features" class="features">

            <div class="container" data-aos="fade-up">

                <header class="section-header">
                    <h2></h2>
                    <p>My Programming Skills</p>
                </header>

                <div class="row">

                    <div class="col-lg-6">
                        <img src="~/flex-assets/img/features.png" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
                        <div class="row align-self-center gy-4">

                            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
                                <div class="feature-box d-flex align-items-center">
                                    <i class="bi bi-check"></i>
                                    <h3>ASP.net Core MVC</h3>
                                </div>
                            </div>

                            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
                                <div class="feature-box d-flex align-items-center">
                                    <i class="bi bi-check"></i>
                                    <h3>Database SQL</h3>
                                </div>
                            </div>

                            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
                                <div class="feature-box d-flex align-items-center">
                                    <i class="bi bi-check"></i>
                                    <h3>HTML5 / CSS3</h3>
                                </div>
                            </div>

                            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
                                <div class="feature-box d-flex align-items-center">
                                    <i class="bi bi-check"></i>
                                    <h3>C#</h3>
                                </div>
                            </div>

                            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
                                <div class="feature-box d-flex align-items-center">
                                    <i class="bi bi-check"></i>
                                    <h3>C Language</h3>
                                </div>
                            </div>

                            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="700">
                                <div class="feature-box d-flex align-items-center">
                                    <i class="bi bi-check"></i>
                                    <h3>Experience in hosting Asp.net web application</h3>
                                </div>
                            </div>
                            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="800">
                                <div class="feature-box d-flex align-items-center">
                                    <i class="bi bi-check"></i>
                                    <h3> Javascript</h3>
                                </div>
                            </div>
                            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="800">
                                <div class="feature-box d-flex align-items-center">
                                    <i class="bi bi-check"></i>
                                    <h3> React</h3>
                                </div>
                            </div>
                            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="800">
                                <div class="feature-box d-flex align-items-center">
                                    <i class="bi bi-check"></i>
                                    <h3> Angular</h3>
                                </div>
                            </div>
                            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="800">
                                <div class="feature-box d-flex align-items-center">
                                    <i class="bi bi-check"></i>
                                    <h3> Git </h3>
                                </div>
                            </div>

                        </div>
                    </div>

                </div> <!-- / row -->
                <!-- Feature Tabs -->
                <div class="row feture-tabs" data-aos="fade-up">
                    <div class="col-lg-6">
                        <h3>This website has three user roles</h3>

                        <!-- Tabs -->
                        <ul class="nav nav-pills mb-3">
                            <li>
                                <a class="nav-link active" data-bs-toggle="pill" href="#tab1">Master Admin</a>
                            </li>
                            <li>
                                <a class="nav-link" data-bs-toggle="pill" href="#tab2">User</a>
                            </li>
                            <li>
                                <a class="nav-link" data-bs-toggle="pill" href="#tab3">Content Editor</a>
                            </li>
                        </ul><!-- End Tabs -->
                        <!-- Tab Content -->
                        <div class="tab-content">

                            <div class="tab-pane fade show active" id="tab1">
                                <p>Master Admin is the one who can approve the new users once they can verify the email id after sign-up</p>
                                <div class="d-flex align-items-center mb-2">
                                    <i class="bi bi-check2"></i>
                                    <h4>Admin can suspend the user if they violates the policies</h4>
                                </div>

                                <div class="d-flex align-items-center mb-2">
                                    <i class="bi bi-check2"></i>
                                    <h4>User can request a loan from Admin, Admin can approve/ reject it</h4>
                                </div>
                                <div class="d-flex align-items-center mb-2">
                                    <i class="bi bi-check2"></i>
                                    <h4>Admin can edit User details manually and also delete the users</h4>
                                </div>
                                <div class="d-flex align-items-center mb-2">
                                    <i class="bi bi-check2"></i>
                                    <h4>Admin have access to all transaction history, all user login history</h4>
                                </div>
                                <div class="d-flex align-items-center mb-2">
                                    <i class="bi bi-check2"></i>
                                    <h4>Admin can make other users as Admin or Content Editor</h4>
                                </div>




                            </div><!-- End Tab 1 Content -->

                            <div class="tab-pane fade show" id="tab2">
                                <p>User has to verify email id first and he has limited access to the website and user dashboard has been completed blocked by pop-up until user account approved by admin</p>
                                <div class="d-flex align-items-center mb-2">
                                    <i class="bi bi-check2"></i>
                                    <h4>User can transafer money to other user or receive from other users</h4>
                                </div>
                                <div class="d-flex align-items-center mb-2">
                                    <i class="bi bi-check2"></i>
                                    <h4>User can request a loan from Admin</h4>
                                </div>
                                <div class="d-flex align-items-center mb-2">
                                    <i class="bi bi-check2"></i>
                                    <h4>User can transaction the loan status</h4>
                                </div>
                                <div class="d-flex align-items-center mb-2">
                                    <i class="bi bi-check2"></i>
                                    <h4>User can see his/her transaction hisotry</h4>
                                </div>
                                <div class="d-flex align-items-center mb-2">
                                    <i class="bi bi-check2"></i>
                                    <h4>User can see own login hisotry</h4>
                                </div>
                                <div class="d-flex align-items-center mb-2">
                                    <i class="bi bi-check2"></i>
                                    <h4>User can edit his/her profile</h4>
                                </div>
                            </div><!-- End Tab 2 Content -->

                            <div class="tab-pane fade show" id="tab3">
                                <p>Content Editor has similar functionalities like User but he has given some addition permissions</p>
                                <div class="d-flex align-items-center mb-2">
                                    <i class="bi bi-check2"></i>
                                    <h4>Content Editor can approve the new users</h4>
                                </div>
                                <div class="d-flex align-items-center mb-2">
                                    <i class="bi bi-check2"></i>
                                    <h4>Content Editor can edit the user details manually</h4>
                                </div>
                                <div class="d-flex align-items-center mb-2">
                                    <i class="bi bi-check2"></i>
                                    <h4>Content Editor can suspend or unsuspend the users</h4>
                                </div>
                            </div><!-- End Tab 3 Content -->

                        </div>

                    </div>

                    <div class="col-lg-6">
                        <img src="~/flex-assets/img/features-2.png" class="img-fluid" alt="">
                    </div>

                </div><!-- End Feature Tabs -->
                <!-- Feature Icons -->
                <div class="row feature-icons" data-aos="fade-up">
                    <h3>What challenges I was faced during this web app development</h3>

                    <div class="row">

                        <div class="col-xl-4 text-center" data-aos="fade-right" data-aos-delay="100">
                            <img src="~/flex-assets/img/features-3.png" class="img-fluid p-4" alt="">
                        </div>

                        <div class="col-xl-8 d-flex content">
                            <div class="row align-self-center gy-4">

                                <div class="col-md-6 icon-box" data-aos="fade-up">
                                    <i class="ri-line-chart-line"></i>
                                    <div>
                                        <h4>Working with different bootstrap themes</h4>
                                        <p>Since working on free bootstrap templetes one for homepage, another for Dashboard and came-up with different layouts(working with multiple layouts)</p>
                                    </div>
                                </div>

                                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                                    <i class="ri-stack-line"></i>
                                    <div>
                                        <h4>Issue with gmail SMTP server</h4>
                                        <p>Gmail won't accept username and password so came-up with pass code</p>
                                    </div>
                                </div>

                                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                                    <i class="ri-brush-4-line"></i>
                                    <div>
                                        <h4>Issue with pop-up functionality</h4>
                                        <p>Handling pop-up is tricky functionality and it was not a mobile responsive initially, took ChatGPT help to fix mobile responsive issue</p>
                                    </div>
                                </div>

                                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                                    <i class="ri-magic-line"></i>
                                    <div>
                                        <h4>HTML/CSS integration issues</h4>
                                        <p>Faced a lot of alignment issues while integration</p>
                                    </div>
                                </div>

                                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                                    <i class="ri-command-line"></i>
                                    <div>
                                        <h4>Validation issues especially with null values</h4>
                                        <p>Application was broken with null values and validated each field and taken care by proper exception handling as well</p>
                                    </div>
                                </div>

                                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                                    <i class="ri-radar-line"></i>
                                    <div>
                                        <h4>Mis-match of left sidebar navigation links</h4>
                                        <p>Snice working on multiple templates and sidebar navigation links were different each page so fixed with proper validation</p>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div><!-- End Feature Icons -->

            </div>

        </section><!-- End Features Section -->
        <!-- ======= Services Section ======= -->

    </main>

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h2>What other functionalities this web application</h2>

            </header>

            <div class="row">
                <div class="col-lg-6">
                    <!-- F.A.Q List 1-->
                    <div class="accordion accordion-flush" id="faqlist1">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                                    Contact form sumbission
                                </button>
                            </h2>
                            <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                                <div class="accordion-body">
                                    User can contact Admin directly through Contact us form if user faces any issues and email will be sent to the admin
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                                    Forget password
                                </button>
                            </h2>
                            <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                                <div class="accordion-body">
                                    User can request a password by entering username, email will be sent to the User registered mail id if username matches
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                                    Working with Ajax calls and Web API - progess
                                </button>
                            </h2>
                            <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                                <div class="accordion-body">
                                    I'm working on Ajax calls and Web API integration currently and it is in progess
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


           
            </div>
            
            <!-- ======= Contact Section ======= -->
            <section id="contact" class="contact">

                <div class="container" data-aos="fade-up">

                    <header class="section-header">
                        <h2>Contact</h2>
                        <p>Contact Us</p>
                    </header>

                    <div class="row gy-4">

                        <div class="col-lg-6">

                            <div class="row gy-4">
                                <div class="col-md-6">
                                    <div class="info-box">
                                        <i class="bi bi-geo-alt"></i>
                                        <h3>Address</h3>
                                        <p>Hyderabad</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="info-box">
                                        <i class="bi bi-telephone"></i>
                                        <h3>Call Us</h3>
                                        <p>7702738161</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="info-box">
                                        <i class="bi bi-envelope"></i>
                                        <h3>Email Us</h3>
                                        <p>dhasarinithin7702@gmail.com</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="info-box">
                                        <i class="bi bi-clock"></i>
                                        <h3>Open Hours</h3>
                                        <p>Monday - Friday<br>9:00AM - 05:00PM</p>
                                    </div>
                                </div>
                            </div>

                           

                        </div>

                        <div class="col-lg-6">
                            <form action="Home/HomepageContactUs" method="post" class="container">
                                <div class="row gy-4">

                                    <div class="col-md-6">
                                        <input type="text" name="Name" class="form-control" placeholder="Your Name" required>
                                    </div>

                                    <div class="col-md-6 ">
                                        <input type="email" class="form-control" name="Email" placeholder="Your Email" required>
                                    </div>

                                    <div class="col-md-12">
                                        <input type="number" class="form-control" name="Mobile" placeholder="Mobile" required>
                                    </div>

                                    <div class="col-md-12">
                                        <textarea class="form-control" name="Subject" rows="6" placeholder="Subject" required></textarea>
                                    </div>

                                    <div class="col-md-12 text-center">
                                        
                                        <button type="submit">Send Message</button>
                                    </div>

                                </div>
                            </form>


                        </div>

                    </div>

                </div>

            </section><!-- End Contact Section -->
            <!-- ======= Footer ======= -->
           

            <div class="footer-top">
                <div class="container">
                    <div class="row gy-4">
                        <div class="col-lg-5 col-md-12 footer-info">
                            <a href="#" class="logo d-flex align-items-center">
                                <img src="~/flex-assets/img/logo.png" alt="">
                                <span>Nithin</span>
                            </a>
                            <p>This web application is developed to show my coding skills only and not for educational or other commercial purposes</p>
                            <div class="social-links mt-3">

                            <a href="https://www.linkedin.com/in/dhasari-nithin-30263b335/" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-6 footer-links">
                            <h4>Useful Links</h4>
                            <ul>
                                <li> <a href="#">Home</a></li>

                            </ul>
                        </div>

                        <div class="col-lg-2 col-6 footer-links">
                            <h4>Looking for help</h4>
                            <ul>
                                <li> <a href="/Home/ContactUs">Contact us</a></li>

                            </ul>
                        </div>

                        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                            <h4>Contact Us</h4>
                            <p>

                                Hyderabad<br>
                                Telangana <br><br>
                                <strong>Phone:</strong>+91 77027 38161<br>
                                <strong>Email:</strong>dhasarinithin7702@gmil.com<br>
                            </p>

                        </div>

                    </div>
                </div>
            </div>

            <div class="container">
                <div class="copyright">
                    &copy; Copyright by <strong><span>Nithin</span></strong>. All Rights Reserved by Nithin
                </div>
               
            </div>
          

            <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

            <!-- Vendor JS Files -->
            <script src="~/flex-assets/vendor/purecounter/purecounter_vanilla.js"></script>
            <script src="~/flex-assets/vendor/aos/aos.js"></script>
            <script src="~/flex-assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="~/flex-assets/vendor/glightbox/js/glightbox.min.js"></script>
            <script src="~/flex-assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
            <script src="~/flex-assets/vendor/swiper/swiper-bundle.min.js"></script>
            <script src="~/flex-assets/vendor/php-email-form/validate.js"></script>

            <!-- Template Main JS File -->
            <script src="~/flex-assets/js/main.js"></script>

</body>

</html>