@model IEnumerable<TrackAllOrders>
@{
    ViewData["Title"] = "Orders";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<!DOCTYPE html>
<html>

<body>
   
    <!-- Main content -->
    <div class="main-content" id="panel">

        <!-- Main content -->
        <div class="main-content">
            <!-- Header -->
            <div class="header bg-gradient-primary py-7 py-lg-8 pt-lg-9">
                <div class="container">
                    <div class="header-body text-center mb-7">
                        <div class="row justify-content-center">
                            <div class="col-xl-5 col-lg-6 col-md-8 px-5">
                                <h1 class="text-white"></h1>
                                <p class="text-lead text-white">Update Yours Details </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="separator separator-bottom separator-skew zindex-100">
                    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
                    </svg>
                </div>
            </div>
        <!-- Page content -->
        <div class="container-fluid mt--6">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <!-- Card header -->
                        <div class="card-header border-0">
                            <h3 class="mb-0">My Order Details</h3>
                        </div>
                        <!-- Light table -->
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Payment Id</th>
                                        <th>Order Status</th>                                        
                                        <th>Status Updated Date</th>

                                    </tr>
                                </thead>
                                    @foreach (var users in Model)
                                    {
                                        <tbody class="list">
                                            <tr>
                                                <th scope="row">
                                                    <div class="media align-items-center">
                                                        <div class="media-body">
                                                            <span class="name mb-0 text-sm">@users.PaymentId</span>
                                                        </div>
                                                    </div>
                                                </th>
                                                <td>
                                                    <span class="badge badge-dot mr-4">
                                                        <i class="bg-warning"></i>
                                                        <span class="status">@users.OrderStatus</span>
                                                    </span>
                                                </td>
                                                <td>
                                                    <div class="ni ni-money-coins">
                                                        <span class="">@users.StatusUpdated.ToString("MM/dd/yyyy hh:mm:ss tt")</span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    }
                            </table>
                        </div>

                    </div>
                </div>
            </div>            
        </div>
    </div>
   
</body>

</html>



